body {
	background-color: beige;
	margin: 20px;
	font-family: 'PT Serif', serif;
	font-family: 'Shadows Into Light Two', cursive;
}



#articles {
	color: red;

	font-size:25px;
}
#title {

	font-size: 50px;
	
	
}